.catalog {
    min-height: 600px;
    &-search-form {
      width: 100%;
      height: 38px;
      margin-bottom: 2em;
       
      .form-control {
          box-shadow: none;
        }
        
    }
  }