.radio-buttons-group {
  .catalog-item-size {
    display: inline-block;
    padding: 0 10px;
  }

  .catalog-item-size.selected {
    background: #727e86;
    border-radius: 15px;
    color: #fff;
  }
}
